<!DOCTYPE html>
<html lang="en" ng-app="lifeByScu" class="no-js"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Conway's Life (and variants)</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <h1>Life (and variants)</h1>
  <div ng-controller="gameStateController">
    <life-board></life-board>
    <div class="timing">
      <label>number of steps: <input type="text" ng-model="steps"></input></label>
      <label>milliseconds per step: <input type="text" ng-model="msec"></input></label>
      <input type=submit value="advance" ng-click="iterateState(steps,msec);"></button>
    </div>
    <div class="new-board">
      <label>rows: <input type="text" ng-model="rows"></input></label>
      <label>columnns: <input type="text" ng-model="columns"></input></label>
      <label>density: <input type="text" ng-model="density"></input></label>
      <input type=submit value="new board" ng-click="create_board(rows, columns, density);"></button>

    </div>

  </div>

  <div class="help">
  </div>

  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="components/board/board.js"></script>
  <script src="components/game-state-controller/game-state-controller.js"></script>

  <script src="app.js"></script>
</body>
</html>

